**/.idea
**/*.iml
**/*.bak
**/*.log
**/*.orig
**/*.versionsBackup
**/target
/keystores
*.cer
*.p12
**/logs
**/test-dir
**/pid
**/.gradle
**/*.DS_Store
release.properties
**/node_modules/**
**/frontend/**
**/pnpmfile.js
**/workspace.xml
**/webpack.config.js
**/webpack.generated.js
**/package.json
**/tsconfig.json
**/types.d.ts
**/.npmrc
**/pnpm-lock.yaml


HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
